<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :fname %><br />
  <%= f.text_field :fname %></div>

  <div><%= f.label :lname %><br />
  <%= f.text_field :lname %></div>

  <div><%= f.label :rank %><br />
  <%= f.text_field :rank %></div>

  <div><%= f.label :trade %><br />
  <%= f.collection_select(:trade_id, Trade.all, :id, :name) %></div>

  <div><%= f.label :department %><br />
  <%= f.collection_select(:department_id, Department.all, :id, :name) %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
