<%= form_for @period, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stime, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :stime, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :etime, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :etime, :class => 'time_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                periods_path, :class => 'btn' %>
  </div>
<% end %>
