<%- model_class = Crr -%>
<div class="page-header">
  <h1>Combat Readiness Requirements</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%= model_class.human_attribute_name(:expiry) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @crrs.each do |crr| %>
      <tr>
        <td><%= link_to crr.code, crr_path(crr) %></td>
        <td><%= crr.name %></td>
        <td><%= crr.link %></td>
        <td><%= crr.expiry %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_crr_path(crr), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      crr_path(crr),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_crr_path,
            :class => 'btn btn-primary' %>
