<%- model_class = TrainingDay -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @training_day.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weekday) %>:</strong></dt>
  <dd><%= @training_day.weekday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @training_day.details %></dd>
</dl>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:trade_id) %></th>
      <th><%= model_class.human_attribute_name(:period_id) %></th>
      <th>Start Time</th>
      <th>End Time</th>
      <th><%= model_class.human_attribute_name(:instructor) %></th>
      <th><%= model_class.human_attribute_name(:activity) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @training_day.tsessions.each do |i| %>
      <tr class="<%= category_table_row_class(i.trade.name) %>">
        <td><%= i.trade.name %></td>
        <td><%= i.period.name %></td>
        <td><%= i.period.stime.strftime('%H:%M') %></td>
        <td><%= i.period.etime.strftime('%H:%M') %></td>
        <td><%= i.instructor %></td>
        <td><%= i.activity %></td>
        <td><%= i.location %></td>
        <td>
          <% if can? :update, i %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tsession_path(i), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, i %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tsession_path(i),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              training_days_path, :class => 'btn'  %>
</div>