<%- model_class = Tsession -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-bordered table-condensed display" id="tsession" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:training_day_id) %></th>
      <th><%= model_class.human_attribute_name(:trade_id) %></th>
      <th><%= model_class.human_attribute_name(:period_id) %></th>
      <th><%= model_class.human_attribute_name(:instructor) %></th>
      <th><%= model_class.human_attribute_name(:activity) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tsessions.each do |tsession| %>
      <tr>
        <td><%= link_to tsession.id, tsession_path(tsession) %></td>
        <td><%= tsession.training_day.day %></td>
        <td><%= tsession.trade.name %></td>
        <td><%= tsession.period.name %></td>
        <td><%= tsession.instructor %></td>
        <td><%= tsession.activity %></td>
        <td><%= tsession.location %></td>
        <td>
          <% if can? :update, tsession %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tsession_path(tsession), :class => 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, tsession %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tsession_path(tsession),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, @tsession %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tsession_path,
            :class => 'btn btn-primary' %>
<% end %>